.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}
h2  {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}
.form-group {
    text-align: left;
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.update-button {
    width: 100%;
    padding: 15px;
    background-color: #e85252;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}
.update-button:hover {
    background-color: #d84242;
}
