.main {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
}

.tab-button {
    background: none;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    color: #555;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease;
}

.tab-button.active {
    color: #ff0000;
    border-bottom-color: #000;
    font-weight: bold;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 25px;
    justify-content: flex-start;
    margin: 0 auto;
}

.item-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 250px;
    height: 300px;
    position: relative;
    /* Soldラベル表示用 */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    text-decoration: none;
}

.item-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}

.item-card p {
    font-size: 14px;
    color: #555;
}

.sold-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    padding: 2px 6px;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
}

@media (min-width: 1540px) {
    .items-container {
        width: 90%;
        max-width: 1500px;
    }

    .item-card {
        width: 250px;
    }
}

@media (min-width: 1400px) {
    .items-container {
        width: 90%;
        max-width: 1400px;
    }

    .item-card {
        width: 250px;
    }
}


@media (max-width: 850px) {
    .items-container {
        width: 95%;
        gap: 20px;
    }

    .item-card {
        width: calc(33.33% - 16.67px);
        height: initial;
    }
}

@media (max-width: 768px) {
    .items-container {
        justify-content: center;
    }

    .item-card {
        width: 45%;
        height: initial;
    }
}

@media (max-width: 480px) {
    .item-card {
        width: 100%;
    }
}